body {
    background: #afdae0;
}

header {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Center the buttons vertically */
    background: white; 
}

.menuBar {
    border: none;
    padding: 15px 32px;
    color: #9ED7E6;
    background-color: white;
   font-size: 20px;
}


#textContainer {
    max-width: 50%; /* Adjust the width as needed */
    margin-right: 20px;
    margin-top: 250px;
    margin-left: 20px;
    color: #006884
}

img {
    float: right;
    width: 700px;
    height: 700px;
    margin-top: -350px;
    
}

#menuTitle {
    text-align: center;
    color: #006884;
}

#flavorsContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.flavor {
    display: flex;
    background-color: #8dbbcc;
    border: 4px solid #006884;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 400px;
    height: 200px;
    border-radius: 5px;
}

#contactTitle {
    text-align: center;
    color: #006884;
    margin-top: 50px;
}

#contactBox {
    border: 4px solid #006884;
    width: 400px;
    height: 200px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
}

.info {
    color:#006884;
    margin-top: 50px;

}
